@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<hr />



<div class="text-center">
    <a href="Home/Login" class="btn btn-primary">Giriş yap</a>
    <a href="Home/SignUp" class="btn btn-primary">Kaydol</a>
    <a href="Home/Logout" class="btn btn-primary">Çıkış yap</a>

</div>
